.classpath
.project
.settings
testdata
scripts
target
testdata2
testdataIn
testdataOut
btc-ucc-releases-in
btc-ucc-releases-out
exoscaleTest
btc-ucc-releases-inout
btc-ucc-releases-inout2
testIn
testOut
gitignored
